@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  height: 500px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  overflow: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.container #inputBtn {
  font-size: 14px;
  display: inline-block;
  color: white;
  background-color: #343a40;
  border: none;
  border-color: #343a40;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#inputBtn:active {
  background-color: #5e6267;
  border-color: #5e6267;
  transition: all 0.1s;
}

.searchBar {
  display: flex;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

.title h2 {
  margin: 0px;
}

.title h4 {
  margin: 0px;
  padding-top: 0.75rem;
}

.header {
  background-color: rgb(214, 0, 0);
  height: 100px;
  width: 300px;
  position: fixed;
  z-index: 2;
}

#routeInput {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  margin-right: 10px;
}

.routeInfo {
  height: 400px;
  width: 300px;
  position: relative;
  top: 100px;
}

.fetchedRouteBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 16px;
  background-color: #343a40;
  border-color: #343a40;
  color: white;
  padding: 0.75rem 1.25rem;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.fetchedRouteBtn:active {
  background-color: #5e6267;
  border-color: #5e6267;
  transition: all 0.1s;
}

.fetchedRouteBtn span {
  width: 260px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.fetchedRouteBtn span:after {
  content: "＞＞";
  position: absolute;
  opacity: 0;
  top: 2px;
  right: -50px;
  transition: 0.5s;
  transform: scaleY(-1.25);
}

.fetchedRouteBtn:hover span {
  padding-right: 35px;
}

.fetchedRouteBtn:hover span:after {
  opacity: 1;
  right: 0;
}

.routeDisplay {
  position: relative;
}

.stopDisplay {
  position: relative;
}

.stop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  padding: 0.85rem 1.25rem;
  position: relative;
  cursor: pointer;
}

.stop span::after {
  content: "⌄";
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: -25px;
  transform: scaleX(1.2);
}

.stop:hover {
  background-color: #f1f1f1;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.eta {
  display: flex;
  justify-content: center;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  padding: 0.85rem 2rem;
  position: relative;
}

.eta::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: red;
  top: 0px;
  bottom: 0px;
  left: 30px;
}

.content:last-of-type > .eta::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: white;
  top: 0px;
  bottom: 0px;
  left: 30px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: red;
  top: 0px;
  bottom: 0px;
  left: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 22px;
  background-color: lightgrey;
  border: 2px solid gray;
  border-radius: 50%;
  z-index: 1;
}

.timeline:first-of-type::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: red;
  top: 30px;
  bottom: 0px;
  left: 30px;
}

.timeline:last-of-type:after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: red;
  top: 0px;
  bottom: 30px;
  left: 30px;
}

.blue {
  color: rgb(44, 44, 211);
}
